# NÁZEV WORKFLOW - bude se zobrazovat v seznamu workflow v GitHub Actions
name: YAML TEST
# Manuální spuštění workflow přes GitHub Actions UI
on: workflow_dispatch

# Joby (úlohy) které se mají spustit - job funguje jako samostatný skript, můžeme takto rozdělit workflow na více částí (například: příprava prostředí, testy, úklid prostředí, reporting, ...)
jobs:
  # NÁZEV JOBU - bude se zobrazovat v seznamu jobů v rámci workflow
  newman_tests:
    # Maximální doba běhu jobu v minutách (abychom nekonecne nečekali na dokončení), pomůže se vyvarovat účtování za zbytečně dlouhý běh
    timeout-minutes: 5
    # V jakém prostředí se má job spustit - Použijeme Ubuntu (Linux) - nejvýhodnější v GitHub Actions a efektivní pro většinu případů použití
    runs-on: ubuntu-latest
    # Kroky (steps) které se mají v rámci jobu spustit - kroky jsou jednotlivé příkazy nebo akce, které se vykonají v rámci jobu
    steps:
      # Checkout repository - základní krok pro získání kódu z repozitáře
      - uses: actions/checkout@v6
      # Instalace Node.js prostředí - potřebujeme pro běh Newman
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
      # Instalace závislostí - nainstalujeme všechny knihovny potřebné pro běh Newman
      - name: Install dependencies
        run: npm ci
        # Spuštění Newman testů
      - name: Run Newman tests
        run: npx newman run "./collections/Newman Simple.postman_collection.json"