name: Newman with HTML Report - Upload as Artifact
on: workflow_dispatch

jobs:
  newman_tests:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Run Newman tests
        run: npx newman run "./collections/Newman Simple.postman_collection.json" -r cli,htmlextra --reporter-htmlextra-export newman/html-report.html
      - name: Upload HTML Report as Artifact
        uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: newman-html-report
          path: newman/html-report.html